@font-face {
  font-family: 'Libre';
  src: url('@/assets/fonts/LibreBaskerville-Bold.ttf') format('truetype'); /* Cambio a truetype */
}

@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Medium.ttf') format('truetype'); /* Cambio a truetype */
}

body {
  font-family: 'Montserrat';
}
